body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
}

body {
    justify-content: center;
    align-items: center;
}

.mode-container {
    position: fixed;
    top: 16px;
    right: 16px;
    width: 48px;
    height: 48px;
    background-color: #232327;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: background-color 0.3s ease;
}

.mode-toggle {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #fff;
    position: relative;
}

.mode-toggle i {
    font-size: 1.5em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-40%, -40%);
}

.light-mode .mode-container {
    background-color: rgba(255, 255, 255, 0.8);
}

.light-mode .mode-toggle {
    color: #232327;
}

.container {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    color: #666;
}

body.light-mode .container {
    background-color: #fff;
}

body.dark-mode .container {
    background-color: #232327;
    color: #ddd;
}

h1 {
    font-size: 2em;
    font-weight: 600;
    margin-bottom: 10px;
    color: #ff5353;
}

p {
    font-size: 1.2em;
    font-weight: 400;
}

.footer {
    width: 100%;
    text-align: center;
    padding: 10px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
    font-size: 0.9em;
    position: fixed;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.8);
    color: #333;
}

.footer a {
    color: #ff5353;
    text-decoration: none;
}

.footer a:hover {
    text-decoration: underline;
}

body.dark-mode .footer {
    color: #ddd;
    background-color: #232327;
}

.mode-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 24px;
    color: #333;
}

.mode-toggle i {
    font-size: 1.5em;
}

body.dark-mode .mode-toggle {
    color: #ddd;
}

body.light-mode {
    background-color: #f0f0f0;
}

body.dark-mode {
    background-color: #18181B;
}

@media (max-width: 600px) {
    h1 {
        font-size: 1.5em;
    }

    p {
        font-size: 1em;
    }

    .mode-container {
        width: 36px;
        height: 36px;
        top: 10px;
        right: 10px;
    }

    .mode-toggle i {
        font-size: 1em;
        transform: translate(-15%, -60%);
    }

    .footer {
        font-size: 0.8em;
        padding: 5px;
    }
}